{% extends 'base.html.twig' %}

{% block title %}Página Inicial{% endblock %}

{% block body %}
    <div class="starter-template">
        <h1 class="display-1">Petshop - School Of Net</h1>
        <p class="lead">Avançando com o Symfony 4</p>
    </div>
{% endblock %}
